useDynLib(coxme)
import(bdsmatrix)
export("coxme")
export("coxvarFull")
export("coxvarMlist")
export("coxme.control")
export('fixed', 'fixed.effects')
export('ranef', 'random.effects')
S3method(print, coxme)
S3method(fixef, coxme)
S3method(ranef, coxme)
S3method(fixed.effects, coxme)
S3method(random.effects, coxme)
